@font-face {
    font-family: 'press-start';
    src: url(press-start.ttf);
}
@keyframes pisca {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

*{
    font-family: 'press-start', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color:skyblue;
}

main{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.title-game{
    font-size: 1.2rem;
}

.score{
    font-size: 0.8rem;
}

#board{
    width: 100%;
    height: 400px;
    background-color:sandybrown;
    border: 4px solid black;
    margin-bottom: 20px;
    position: relative;
}

#player{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
    background-color: black;
}

#controls{
    margin-bottom: 20px;
    padding: 10px;
}

#controls button{
    width: 25%;
    height: 60px;
}

#controls button i{
    font-size: 1.5rem;
}

.ctrl-up, .ctrl-down{
    display: block;
}

.center-cross{
    display: flex;
    flex-direction: row;
}

.pisca{
    -webkit-animation: pisca .5s linear infinite;
    -moz-animation: pisca .5s linear infinite;
    -ms-animation: pisca .5s linear infinite;
    -o-animation: pisca .5s linear infinite;
    animation: pisca .5s linear infinite;
}

.food{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
}

.food-bonus{
    background-color: tomato;
}

@media (max-width:550px){
    main{
        width: 100%;
        padding: 10px;
    }
}